* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow: auto;
}

body {
    background-color: #BA4949;
    font-family: "Nunito", sans-serif;
}


.main-container{
    display: block;
    width: 640px;
    margin: 10px auto;
}

.contents-wrapper {
    background-color: #C15C5C;
    display: block;
    margin: 50px auto;
    align-items: center;
    text-align: center;
    width: 470px;
    
}

.task-wrapper {
    /* background-color: #C15C5C; */
    width: 470px;
    display: block;
    margin: 10px auto;
    text-align: center;
    color: white;
}

#tasks-holder {
    display: block;
    width: 470px;
    
    
}

.new-task-test {
    width: 100%;
    margin: 3px 0;
    padding: 15px;
    border: none;
    border-radius: 5px;

    color: darkslategrey;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

.new-task-test:hover {
    border-left: 5px solid #dcdcdc;
}

#tasks {
    text-align: left;
    
}

#hr-el {
    border: 1px solid #A44E4E;
}

#pomo-logo {
    margin-right: 8px;
    margin-top: 15px;
}

#task-btn {
    width: 100%;
    margin: 10px 0;
    padding: 17px;
    color: #C57A7A;
    font-weight: bold;
    font-size: 16px;
    border: 2px dashed #C57A7A;
    background-color: #AB4343;
    cursor: pointer;
}

#timer {
    font-size: 110px;
    font-weight: bold;
    margin: 0;
}


#start {
    height: 70px; 
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    padding: 12px 48px;
    margin: 30px;
    cursor: pointer;
    width: 200px;
    border-bottom: 7px solid #dcdcdc;
    color: #C15C5C;
}
a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}

.input-container {
    display: none;
    background-color: white;
    height: 145px;
    margin-top: 20px;
}

#task-input {
    text-align: left;
    width: 430px;
    margin: 20px;
    color: darkslategrey;
    line-height: 50px;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;

}

#task-input::placeholder {
    color: lightgray;
}

.input-button-holder {
    background-color: #dcdcdc;
    text-align: right;
    margin-top: 10px;
    height: 42px;
    border-radius: 5px;
}

.button-input {
    margin-top: 5px;
    margin-right: 10px;
    padding: 8px;   
    width: 80px;
    
}

#cancel-button {
    color: darkslategray;
    background-color: #dcdcdc;
}

#save-button {
    color: white;
    background-color: rgb(18, 18, 18);
}

.button-style {
    font-weight: bold;
    cursor: pointer;
}

.color {
    color: aliceblue;
}

.soft-edge {
    border: none;
    border-radius: 5px;
}
.pomo-type-btn {
    margin: 17px 0;
    font-size: 15px;
    padding: 7px 17px;
    cursor: pointer;
    background-color: #C15C5C;
}

#pomodoro-btn {
    background-color: #A44E4E;
}

footer {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px auto;
    color: #dcdcdc;
    background-color: rgba(255,255,255,0.1);
    padding: 10px;
    width: 450px;
    border-radius: 5px;
}