body {
    background-color: #edede9;
    font-family: Arial, Helvetica, sans-serif;
}



.content-wrapper {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    border: 2px solid #565959;
    width: 850px;
    padding: 20px 30px;
    line-height: 20px;

}

.title {
    font-weight: lighter;
    font-size: 30px;
    margin: 20px 0;
    word-spacing: 8px;
    line-height: 1;
}


.col-2 {
    margin-left: 25px;
}

.col-2 p {
    text-align: justify;
    
}

.book-cover {
    box-shadow: 0px 2px 5px lightgray;
    width: 280px;
}

#breadcrumb-text {
    color: #565959;
    font-size: 14px;
}

#copyright {
    font-size: 10px;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
}

a {
    color: #007185;
    text-decoration: none;
}

.rating {
    width: 100px;
}

.bold {
    font-weight: bold;
}